* {
    margin: 0;
    padding: 0;
}

.tabs {
    background-color: #251e68;
    height:"0";
    background-color:"light-blue";
    text-align: left;
    font-family: 'Work Sans', sans-serif;
    font-weight:500;
}

.linkButton:link, .linkButton:visited {
    background-color: #251e68;
    color: white;
    padding: 14px 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

.linkButton:hover, .linkButton:active {
    background-color: rgb(60, 82, 206);
    border-style:"black";
    border-color:"gray";
    border-width: 5px;
    font-size: 20px;
}

#waveGuy {
    float:left;
    margin-right: 10px;
}

.generalText {
    margin-top: 10px;
    margin-right: 10px;
    max-width: 1200px;
    min-height: 360px;
    font-family: 'Work Sans', sans-serif;
}

#gardensImg {
    float:left;
    margin-right: 10px;
}

#gardensText {
    margin-top: 10px;
    max-width: 1200px;
    font-family: 'Work Sans', sans-serif;
}

#logo {
    float:left;
    margin-left: 24px;
    margin-right: 24px;
}

#someDirt {
    float:left;
    margin-right: 10px;
}

#dirtText {
    margin-top: 10px;
    max-width: 1200px;
    min-height: 360px;
    font-family: 'Work Sans', sans-serif;
}

#fireGuy {
    float:left;
    margin-right: 10px;
}

#game {
    float:left;
    margin-right: 10px
}